body {
    background-color:  #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0; 
    padding: 25px; 
   

}

.column {
    display: inline-block;
    width: 270px; 
    height: 100%; 
    border: gray; 



}

.list {
    display: flex; 
    flex-direction: column; 
    background-color: lightblue; 
    border-radius: 5px;  

}

ul {
    list-style: none; 
}

.card {
    text-decoration: none; 
    padding: 10%; 
    background-color: white; 
    display: flex; 
    margin-left: -30px; 
    margin-right: 10px; 
    border-radius: 10px; 
    z-index: 0; 
    position: relative;
    margin-bottom: 5px; 

}

.list-header {
    font-weight: bold; 
    text-align: center;
    padding-bottom: 20%;  
}

#new-list {
    justify-content: flex-end; 
}

.delete-list {

    position: absolute; 


}

input {
    width: 100%;
    box-shadow: none;
    border-radius: 3px;
    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    padding: 0;
    resize: none;
    word-wrap: break-word;
    text-indent: 8px;
    margin-left: -21px; 
    margin-right: 10px; 
    border-radius: 10px; 
  }

