body {
    background-color: rgb(57, 183, 206); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0; 
    padding: 25px; 
   

}

.column {
    display: inline-block;
    width: 270px; 
    height: 100%; 
    border: gray; 



}

.list {
    display: flex; 
    flex-direction: column; 
    background-color: lightblue; 
    border-radius: 5px;  

}

ul {
    list-style: none; 
}

.card {
    text-decoration: none; 
    padding: 20%; 
    background-color: white; 
    display: flex; 
    margin-left: -26px; 
    margin-right: 10px; 
    border-radius: 10px; 

}

.list-header {
    font-weight: bold; 
    text-align: center;
    padding-bottom: 20%;  
}

#new-list {
    justify-content: flex-end; 
}

.delete-list {

    position: absolute; 


}

.delete-card {
    
}

