body {
    background-color: rgb(0, 174, 204); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white; 
    font-size: 1.25em; 

}

.column {
    display: inline-block;
    width: 270px; 
    height: 100%; 



}

.list {
    display: flex; 
    flex-direction: column; 
    background-color: gray; 


}